@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    box-sizing: border-box;
}

h4,h1{text-align: center; padding-bottom: 8%;}

ul {list-style-type: disc;}

li::marker {color: #E5BA73;}

img {border-radius: 50%;}

#main-container{
    padding: 1em 7em 1em 7em;
}
#base-row{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#navbarNav>ul>li{margin: auto;}

#first-column {
    /* arriba | derecha | abajo | izquierda */
       padding: 1em 4em;
       background-color: #5a5a5625;
   }

#second-column {
    /* arriba | derecha | abajo | izquierda */
    padding: 1em 4em 1em 4em; 
}    
#name-title-presentation >h1{
    padding-bottom: 14%;
}
#name-title-presentation>h4 {
    padding-bottom: 14%;
}

#img-perfil, #name-title-presentation{
    width: 25vw;
    max-width: 250px;
    min-width: 60px;
    margin: auto;
}

#img-perfil > img{
    width: 100%;
    margin: auto;
    margin-bottom: 14%;
}
#linea-divisoria{
    background-color: rgba(228, 190, 66, 0.507);
    height: 0.3%;
    width: 100%;
    margin: auto;
    margin-bottom: 7%!important;
}
#experience-section > h4{
    margin-top: 40px;
}
/* MEDIA QUERYS */
@media (max-width:848) {
    #linea-divisoria {
        display: none;
    }
}
#contact-section ul{
list-style: circle;
padding: 1em;
}
/* LINK */
a {
    color: rgba(90, 52, 8, 0.904) !important;
}

a:hover {
    color: rgba(207, 163, 106, 0.973) !important;
    transition-duration: 0, 5s !important;
}
/* BUTTONS */

.submit-button{
    background-color: #E5BA73 !important;
    border: none !important;
}

.submit-button:hover{
    background-color: #FAEAB1!important;
    border: none;
}
.navbar-toggler{
    padding: 0%;
    border-radius: 50%;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler:hover{
    box-shadow:inset 10em 10em gold;
}

/* ICONOS */
.icon::before {
    color: #E5BA73;
}

.award::before {content: "\f559";}
.suitcase::before{content: "\f0f2";}
.contact::before{content: "\f007";}
.education::before{content:"\f19d";}
.profile::before{content:"\f4d8"}

.presentation-name-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TIPOGRAFIA Y TITULOS */

/* p,form{
        /* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Poppins', sans-serif;  */
/* } */

